<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jcca.teseandroid">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    ...
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Login_Registering.LoginActivity"
            android:label="diversidade.ID"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Registering.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gallery.galleryFeed"
            android:label="@string/userFeed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gallery.otherPhotosGallery"
            android:label="@string/othersFeed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gallery.photosToReview"
            android:label="@string/newPhotos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Misc.editDetails"
            android:excludeFromRecents="true"
            android:label="Novo Avistamento"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcca.teseandroid.Gallery.galleryFeed" />
        </activity>
        <activity
            android:name=".Misc.cameraIntent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Notifications.NewPhotoAdded"
            android:enabled="true"
            android:exported="true" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Misc.showOnMap"
            android:label="@string/title_activity_show_on_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Misc.showSpeciesOnMap"
            android:label="@string/title_activity_show_species_on_map"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcca.teseandroid.Misc.showSpeciesOnMap" />
            />
        </activity>
        <activity
            android:name=".Gallery.guide_activity"
            android:label="Guia de Espécies"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Misc.photoDetails_activity"
            android:label="Detalhes do Avistamento"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcca.teseandroid.Gallery.galleryFeed" />
        </activity>
        <activity
            android:name=".Misc.speciesDetails_activity"
            android:label="Detalhes da Espécie"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcca.teseandroid.Gallery.guide_activity" />
        </activity>
        <activity
            android:name=".Misc.map_activity"
            android:label="@string/title_activity_map_activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcca.teseandroid.Gallery.galleryFeed" />
        </activity>
        <activity
            android:name=".Login_Registering.settingsActivity"
            android:label="@string/title_activity_settings" />

        <receiver android:name=".Misc.appWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <activity
            android:name=".Misc.editSpeciesDetails"
            android:label="@string/title_activity_edit_species_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Misc.chooseLocation"
            android:label="@string/title_activity_choose_location"></activity>
    </application>

</manifest>